*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --header-bg-color: rgb(51, 51, 51);
  --section-border-color: rgb(236, 164, 8);
  --sidebar-bg-color: rgb(221, 221, 221);
  --confirm-btn-bg-color: rgb(28, 146, 28);
  --cancel-btn-bg-color: rgb(187, 16, 16);
  --confirm-btn-hover-bg-color: rgb(56, 176, 56);
  --cancel-btn-hover-bg-color: rgb(219, 58, 58);
  --btn-shadow: rgba(0, 0, 0, 0.2);
  --btn-shadow-hover: rgba(0, 0, 0, 0.3);
  --input-border: #4a90e2;
  --input-shadow: rgba(74, 144, 226, 0.5);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid var(--section-border-color);
  padding-bottom: 15px;
  background-color: var(--header-bg-color);
  color: white;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  flex: 0.15;
  min-width: 135px;
  background-color: var(--sidebar-bg-color);
  overflow-y: auto;
  border-right: 2px solid var(--section-border-color);
}

.sidebar h2 {
  text-align: center;
}

.todo-container {
  flex: 1;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

form input {
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

form input:focus {
  border-color: var(--input-border);
  box-shadow: 0 0 6px var(--input-shadow);
}

form button {
  font-size: 0.9rem;
  margin: 5px;
  border: none;
  padding: 5px 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px var(--btn-shadow);
}

form .confirm-button {
  background-color: var(--confirm-btn-bg-color);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

form .confirm-button:hover {
  background-color: var(--confirm-btn-hover-bg-color);
  box-shadow: 0 6px 12px var(--btn-shadow-hover);
  transform: translateY(-2px);
}

form .cancel-button {
  background-color: rgb(187, 16, 16);
  color: white;
}

form .cancel-button:hover {
  background-color: var(--cancel-btn-hover-bg-color);
  box-shadow: 0 6px 12px var(--btn-shadow-hover);
  transform: translateY(-2px);
}

.project-list {
  padding-left: 0;
}

.project-list li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  flex-wrap: nowrap;
}

.project-name-btn {
  flex-grow: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
  border: none;
}

.project-actions-container {
  display: flex;
  flex-shrink: 0;
}

.edit-project-btn,
.delete-project-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  transition: background-color 0.2s;
  width: 30px;
  height: auto;
}

.edit-project-btn:hover,
.delete-project-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
